h3,
h4,
p {
  margin: 0;
}

.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/collage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.collage-button {
  width: 264px;
  height: 56px;
  border-radius: 10px;
  background-color: #c31230;
  margin-bottom: 10px;
  font-family: "Bungee Inline", cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.collage-button-border-one {
  display: flex;
  width: 466px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.call-to-reserve {
  margin-top: 20px;
}
.take-out {
  margin-top: 5px;
}
.delivery {
  margin-top: 5px;
}

.collage-button-border-two {
  width: 437px;
  height: 185.3px;
  background-color: #c31230;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours {
  text-align: center;
  font-family: "Bungee Inline", cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 10px;
}

.kitchen {
  margin-left: 30px;
  font-family: "Bungee";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 5px;
}

.bar {
  font-family: "Bungee";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 30px;
  margin-bottom: 5px;
}

.text-style {
  font-family: Helvetica;
  font-size: 12px;
  color: #ffffff;
  margin-left: 30px;
  margin-bottom: 10px;
}

strong {
  font-family: "Helvetica Neue";
  width: 116px;
  height: 19.3px;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.circle1 {
  margin-right: 130px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(63, 62, 62);
  opacity: 0.7;
  padding: 0;
}

.circle2 {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(63, 62, 62);
  margin-left: 130px;
  opacity: 0.7;
  padding: 0;
}
.responsive-br {
  display: none;
}

.circle-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
}

@media (max-width: 1040px) {
}

@media (max-width: 570px) {
}

/* @media (max-width: 480px) {
} */

@media (max-width: 414px) {
  .circle1,
  .circle2 {
    display: none;
  }
  .collage {
    background-size: cover;
    /* overflow-y: scroll; */
    overflow: hidden;
  }

  .collage-button-border-one {
    background-color: transparent;
  }

  .collage-button-border-two {
    display: flex;
    width: 191px;
    height: 298px;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 15px;
  }
  .hours {
    margin-top: 20px;
    align-self: center;
  }
  .kitchen {
    text-align: center;
    margin-left: 50px;
  }
  .responsive-br {
    display: inline;
  }
  .text-style {
    margin-left: 50px;
  }
  .bar {
    margin-left: 50px;
  }
}
@media (max-width: 375px) {
}

/* .chain-container {
  margin: 0;
  padding: 0;
  z-index: 1;
} */
/* .chain {
  margin: 0;
  padding: 0;
} */

/* .chain1,
.chain2 {
  position: absolute;
  width: 60px;
  height: 80px;
} */
/* .chain1 {
  left: 10px;
  top: 40px;
  margin-right: 80px;
} */
/* .chain2 {
  margin-right: 20px;
  margin-left: 170px;
} */
