h3,
h4,
p {
  margin: 0;
}

.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/collage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.collage-button {
  width: 264px;
  height: 56px;
  border-radius: 10px;
  background-color: #c31230;
  margin-bottom: 10px;
  font-family: "Bungee Inline", cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.collage-button-border-one {
  display: flex;
  width: 466px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.collage-button-border-two {
  width: 437px;
  height: 185.3px;
  background-color: #c31230;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours {
  text-align: center;
  font-family: "Bungee Inline", cursive;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 10px;
}
/* .kitchen-container {

} */
.kitchen {
  margin-left: 30px;
  font-family: "Bungee";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 5px;
}

.bar {
  font-family: "Bungee";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 30px;
  margin-bottom: 5px;
}

.text-style {
  font-family: Helvetica;
  font-size: 12px;
  color: #ffffff;
  margin-left: 30px;
  margin-bottom: 10px;
}

strong {
  font-family: "Helvetica Neue";
  width: 116px;
  height: 19.3px;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
