@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

.foodHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}

.foodHeading {
  font-family: "Bungee Shade";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2577c4;
  background-color: #ffffff;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-top: 0;
}

.menu-link-pdf {
  text-decoration: none;
}

.menuLink {
  font-family: "Bungee Inline";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #c31230;
  margin-bottom: 1.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  border-radius: 12px;
}

.specialtySection {
  background-color: #fff8ea;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.specialtySection2 {
  background-color: #ffffff;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.foodStripes {
  display: grid;
  grid-template-columns: 1fr 500px 50px 500px 1fr;
  grid-template-rows: 300px;
  grid-template-areas: ". i . t .";
  align-items: center;
}

.foodStripes2 {
  display: grid;
  grid-template-columns: 1fr 500px 50px 500px 1fr;
  grid-template-rows: 300px;
  grid-template-areas: ". t . i .";
  align-items: center;
}

.specialtyText {
  text-align: left;
  max-width: 500px;
  grid-area: t;
}

.specialtyText2 {
  text-align: right;
  max-width: 500px;
  grid-area: t;
}

.foodName {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  color: #2577c4;
  margin-bottom: 0.6em;
}

.foodName2 {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  color: #2577c4;
  margin-bottom: 0.6em;
}
.fn-row {
  display: block;
}
.fn-col {
  display: none;
}

.bold {
  font-weight: bold;
  color: black;
  font-family: "Helvetica Neue";
  font-size: 1.5em;
}

.bold2 {
  font-weight: bold;
  color: black;
  font-family: Helvetica Neue;
  font-size: 1.5em;
}

.b-split {
  display: none;
}

.foodText {
  display: flex;
  flex-direction: column;
}

.foodText2 {
  display: flex;
  flex-direction: column;
}

.foodDescription {
  display: flex;
  align-items: flex-start;
  color: black;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
}

.foodDescription2 {
  display: flex;
  align-items: flex-end;
  color: black;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
}

.food-ill {
  grid-area: i;
}

.foodIllustration {
  width: 500px;
  justify-self: right;
}

.foodIllustration2 {
  width: 500px;
  justify-self: left;
}

.foodIllustration3 {
  width: 400px;
  justify-self: right;
}

.foodIllustration4 {
  width: 400px;
  justify-self: left;
}

@media (max-width: 1150px) {
  .foodStripes {
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
  }

  .foodStripes2 {
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
  }

  .foodName {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .foodName2 {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .fn-row {
    display: none;
  }

  .specialtyText {
    margin: 40px auto 0;
    text-align: center;
    max-width: 500px;
    grid-area: unset;
  }

  .specialtyText2 {
    margin: 40px auto 0;
    text-align: center;
    max-width: 500px;
    grid-area: unset;
  }

  .menuHighlights {
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
  }

  .foodDescription2 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .bold2 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .b-split {
    display: none;
  }
}

@media (max-width: 570px) {
  .foodDescription,
  .foodDescription2 {
    font-size: 1em;
    line-height: 1.5em;
  }

  .specialtyText,
  .specialtyText2 {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .foodIllustration {
    width: 90vw;
    max-width: 500px;
  }

  .foodIllustration2 {
    width: 90vw;
    max-width: 500px;
  }

  .foodIllustration3 {
    width: 80vw;
    max-width: 400px;
  }

  .foodIllustration4 {
    width: 90vw;
    max-width: 400px;
  }

  .bold,
  .bold2 {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  .b-uni {
    display: none;
  }

  .b-split {
    display: block;
  }
}
